{#{% extends 'base.html' %}#}
{#{% block nav %}#}
{#    <a class="nav-link" href="{% url 'add_category' %}">Add category</a>#}
{#        <a class="nav-link" href="{% url 'categories_view' %}">Categories</a>#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#    <div class="card my-5">#}
{#        <div class="card-header fs-4 text-center py-3">Add product</div>#}
{##}
{#        <div class="card-body">#}
{#            <form id="article-form" action="" method="POST">#}
{#                {% csrf_token %}#}
{#                <div class="form-floating mb-3">#}
{#                    <input type="text" class="form-control" name="name" id="name" placeholder="name">#}
{#                    <label for="name">Title</label>#}
{#                </div>#}
{#                <div class="form-floating mb-3">#}
{#                    <input type="number" class="form-control" name="price" id="price"#}
{#                           placeholder="price" step="0.01" min="0">#}
{#                    <label for="price">Price</label>#}
{#                </div>#}
{#                <div class="form-floating mb-3">#}
{#                    <input type="url" class="form-control" name="image" id="image" placeholder="https://...">#}
{#                    <label for="image">Image</label>#}
{#                </div>#}
{#                <div class="form-floating">#}
{#                  <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="category">#}
{#                      {%  for category in categories %}#}
{#                        <option value="{{ category.pk }}">{{ category.name }}</option>#}
{#                      {% endfor %}#}
{#                  </select>#}
{#                  <label for="floatingSelect">Select category</label>#}
{#                </div>#}
{#                <div class="form-floating mb-3" style="margin-top: 20px">#}
{#                    <textarea type="text" class="form-control" id="description" name="description" placeholder="description"#}
{#                              style="height: 100px"></textarea>#}
{#                    <label for="description">Description</label>#}
{#                </div>#}
{#                {% if error %}#}
{#                        <p>{{ error }}</p>#}
{#                {% endif %}#}
{#                <button type="submit" form="article-form" class="btn btn-sm btn-primary">Сохранить</button>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{% extends 'base.html' %}
{% block nav %}
    <a class="nav-link" href="{% url 'add_category' %}">Add category</a>
    <a class="nav-link" href="{% url 'categories_view' %}">Categories</a>
{% endblock %}

{% block content %}
    <div class="card my-5">
        <div class="card-header fs-4 text-center py-3">Add product</div>
        <div class="card-body">
            {% include 'partial/product_form.html' with action=action %}
        </div>

        <div class="card-footer text-end py-3">
            <button type="submit" form="product-form" class="btn btn-sm btn-primary">Add</button>
        </div>
    </div>
{% endblock %}