{% extends 'base.html' %}
{% block nav %}
    <a class="nav-link" href="{% url 'add_category' %}">Add category</a>
    <a class="nav-link" href="{% url 'add_product' %}">Add product</a>
    <a class="nav-link" href="{% url 'categories_view' %}">Categories</a>
{% endblock %}

{% block content %}

    <div class="border rounded-3 my-4 p-3">
        <h1>My market</h1>
    </div>
    <form method="GET" action="{% url 'products' %}" class="my-4 d-flex gap-2">
        {{ search_form.name }}
        <button type="submit" class="btn btn-primary">Найти</button>
    </form>
<div class="d-flex flex-wrap gap-3">
    {% for product in products %}
        <div class="card" style="width: 18rem;">
            <img src="{{ product.image }}" class="card-img-top" alt="image" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">{% if product.name %}{{ product.name }}{% else %}---{% endif %}</h5>
                <p class="card-text">{% if product.category.name %}{{ product.category.name }}{% else %}---{% endif %}</p>
                <p class="card-text">Price: {{ product.price }} </p>
                <p class="card-text">Stock: {% if product.stock %}{{ product.stock }}{% else %}---{% endif %} </p>
                <a href="{% url 'product_detail' product.pk %}" class="card-link">See more</a>
            </div>

        </div>
    {% empty %}
        <p>Нет данных</p>
    {% endfor %}
</div>


{% endblock %}