   <div class="modal fade" id="product-{{ product.pk }}-Modal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="productModalLabel">Delete product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'delete_product' product.pk %}" id="delete-form-{{ product.pk }}" method="post">
                        {% csrf_token %}
                        <p>Are you sure you want to delete?</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancellation</button>
                    <button type="submit" form="delete-form-{{ product.pk }}" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>